.goods {
  &__title {
    margin-bottom: 24px;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 32px 8px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: 32px 10px;
      margin-bottom: 40px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
      gap: 40px 16px;
    }
  }
}