.product {
  &__wrapper {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 66% 1fr;
      gap: 16px;
    }
  }

  &__picture {
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1024px) {
      grid-column: 1/2;
      margin-bottom: 0;
    }
  }

  &__price {
    margin-bottom: 12px;
    font-size: 20px;
  }

  &__article {
    margin-bottom: 24px;
    padding: 4px 8px;
    border-radius: 32px;
    background-color: #eeeff2;
    width: fit-content;
  }

  &__table {
    margin-bottom: 24px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    flex-grow: 1;
  }

  &__favorite {
    flex-shrink: 0;
    position: static;
  }
}

.slider {
  overflow: hidden;
  border-radius: 16px;

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

.slider-main {
  position: relative;
  width: 100%;
  height: 74vw;
  max-height: 688px;

  @media (min-width: 768px) {
    margin-bottom: 14px;
    height: 76vw;
  }

  @media (min-width: 1024px) {
    height: 50vw;
  }

  @media (min-width: 1440px) {
    height: 48vw;
  }

  &__button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;

    &_next {
      right: 16px;

      @media (min-width: 768px) {
        right: 24px;
      }
    }

    &_prev {
      left: 16px;

      @media (min-width: 768px) {
        left: 24px;
      }
    }

    &-icon {
      fill: rgba(255, 255, 255, 0.4);
      transition: 0.3s;

      &:hover {
        fill: #fff;
      }
    }
  }
}

.slider-thumbs {
  display: none !important;

  @media (min-width: 768px) {
    display: block !important;
    height: 18vw;
    max-height: 138px;
  }

  @media (min-width: 1024px) {
    height: 12vw;
    max-height: 120px;
  }
  
  @media (min-width: 1440px) {
    height: 11vw;
    max-height: 162px;
  }
}